In [1]:
import pandas as pd
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\duong\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
df = pd.read_csv('Machine learning Engineer.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            977 non-null    object
 1   place            977 non-null    object
 2   company          977 non-null    object
 3   posting_date     977 non-null    object
 4   link             977 non-null    object
 5   job_description  977 non-null    object
 6   jd_html          977 non-null    object
 7   seniority_level  977 non-null    object
 8   job_function     977 non-null    object
 9   employment_type  977 non-null    object
 10  industries       977 non-null    object
dtypes: object(11)
memory usage: 84.1+ KB

,title,place,company,posting_date,link,job_description,jd_html,seniority_level,job_function,employment_type,industries
0,Machine Learning & Data Engineer,"Plano, TX",JPMorgan Chase & Co.,2021-02-22,https://www.linkedin.com/jobs/view/machine-lea...,Corporate Banking Technology is hiring a multi...,"<div class=""description__text description__tex...",Entry level,"Engineering, Information Technology",Full-time,Banking
1,Machine Learning Engineer — Computer Vision,"Richardson, TX",Honeywell,2020-12-21,https://www.linkedin.com/jobs/view/machine-lea...,Corporate Banking Technology is hiring a multi...,"<div class=""description__text description__tex...",Entry level,"Engineering, Information Technology",Full-time,Banking
2,Software and Machine Learning Engineer,"Cambridge, MA",Massachusetts Institute of Technology,2021-01-08,https://www.linkedin.com/jobs/view/software-an...,"Join a team recognized for leadership, innovat...","<div class=""description__text description__tex...",Entry level,"Engineering, Information Technology",Full-time,"Staffing and Recruiting, Human Resources, Acco..."
3,Machine Learning Engineer,Greater Syracuse-Auburn Area,Oracle,2021-01-21,https://www.linkedin.com/jobs/view/machine-lea...,"\nWorking at MIT offers opportunities, an envi...","<div class=""description__text description__tex...",Entry level,"Engineering, Information Technology",Full-time,"Nonprofit Organization Management, Internet, I..."
4,Machine Learning Engineer,"Hillsboro, OR",Intel Corporation,2020-10-15,https://www.linkedin.com/jobs/view/machine-lea...,"Design, develop, troubleshoot and debug softwa...","<div class=""description__text description__tex...",Entry level,"Engineering, Information Technology",Full-time,"Information Technology and Services, Internet,..."

In [5]:
df.job_description.duplicated().sum()

186

In [7]:
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'\w+')
tokenizer.tokenize('Eighty-seven miles to go, yet.  Onward!')

['Eighty', 'seven', 'miles', 'to', 'go', 'yet', 'Onward']

In [8]:
# word tokenize
df['description'] = df.description.apply(tokenizer.tokenize)
df.description

0      [As, a, Data, Scientist, you, will, be, workin...
1      [Job, Summary, Applies, data, analysis, tools,...
2      [If, you, have, an, autism, diagnosis, and, ar...
3      [Childhood, Cancer, Data, Lab, Overview, Alex,...
4      [ECS, is, seeking, a, Data, Scientist, to, wor...
                             ...
715    [We, are, looking, for, someone, with, strong,...
716    [Friday, May, 1, 2020, Job, Type, Post, Doc, J...
717    [Title, Molecular, Data, Scientist, Supporting...
718    [Summary, Posted, Feb, 24, 2021, Weekly, Hours...
719    [PRINCIPAL, DATA, SCIENTIST, Michigan, or, Chi...
Name: description, Length: 720, dtype: object

In [9]:
# remove stopwords
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\duong\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [10]:
all_stopwords = stopwords.words('english')
all_stopwords[:2]

['i', 'me']

In [11]:
df['description'] = df.description.apply(lambda text: [w for w in text if w not in all_stopwords])
df.description

0      [As, Data, Scientist, working, consulting, sid...
1      [Job, Summary, Applies, data, analysis, tools,...
2      [If, autism, diagnosis, looking, career, tech,...
3      [Childhood, Cancer, Data, Lab, Overview, Alex,...
4      [ECS, seeking, Data, Scientist, work, Memphis,...
                             ...
715    [We, looking, someone, strong, skills, data, a...
716    [Friday, May, 1, 2020, Job, Type, Post, Doc, J...
717    [Title, Molecular, Data, Scientist, Supporting...
718    [Summary, Posted, Feb, 24, 2021, Weekly, Hours...
719    [PRINCIPAL, DATA, SCIENTIST, Michigan, Chicago...
Name: description, Length: 720, dtype: object

In [13]:
porter = nltk.PorterStemmer()
print(df.description[0][:20])
print([porter.stem(t) for t in df.description[0][:20]])
wnl = nltk.WordNetLemmatizer()
print([wnl.lemmatize(t) for t in df.description[0][:20]])

['As', 'Data', 'Scientist', 'working', 'consulting', 'side', 'business', 'You', 'responsible', 'analyzing', 'large', 'complex', 'datasets', 'identify', 'meaningful', 'patterns', 'lead', 'actionable', 'recommendations', 'You']
['As', 'data', 'scientist', 'work', 'consult', 'side', 'busi', 'you', 'respons', 'analyz', 'larg', 'complex', 'dataset', 'identifi', 'meaning', 'pattern', 'lead', 'action', 'recommend', 'you']
['As', 'Data', 'Scientist', 'working', 'consulting', 'side', 'business', 'You', 'responsible', 'analyzing', 'large', 'complex', 'datasets', 'identify', 'meaningful', 'pattern', 'lead', 'actionable', 'recommendation', 'You']

In [14]:
df['description'] = df.description.apply(lambda text: [wnl.lemmatize(t) for t in text])
df.description

0      [As, Data, Scientist, working, consulting, sid...
1      [Job, Summary, Applies, data, analysis, tool, ...
2      [If, autism, diagnosis, looking, career, tech,...
3      [Childhood, Cancer, Data, Lab, Overview, Alex,...
4      [ECS, seeking, Data, Scientist, work, Memphis,...
                             ...
715    [We, looking, someone, strong, skill, data, an...
716    [Friday, May, 1, 2020, Job, Type, Post, Doc, J...
717    [Title, Molecular, Data, Scientist, Supporting...
718    [Summary, Posted, Feb, 24, 2021, Weekly, Hours...
719    [PRINCIPAL, DATA, SCIENTIST, Michigan, Chicago...
Name: description, Length: 720, dtype: object

In [15]:
from nltk.util import ngrams
from collections import Counter

In [16]:
print(len(df.description[0]))
len(df.description.sum())

81

277591

In [17]:
#Create your bigrams
#ugs = nltk.unigrams(df.job_description.sum())

#compute frequency distribution for all the bigrams in the text
fdist = nltk.FreqDist(df.description.sum())
fdist

FreqDist({'data': 6230, 'experience': 2238, 'team': 2191, 'business': 2124, 'Data': 1685, 'We': 1589, 'work': 1566, 'analysis': 1507, 'model': 1479, 'Experience': 1465, ...})

In [18]:
sorted(fdist.items(), key=lambda item: item[1],reverse=True)[:100]

[('data', 6230),
 ('experience', 2238),
 ('team', 2191),
 ('business', 2124),
 ('Data', 1685),
 ('We', 1589),
 ('work', 1566),
 ('analysis', 1507),
 ('model', 1479),
 ('Experience', 1465),
 ('learning', 1427),
 ('product', 1225),
 ('skill', 1170),
 ('The', 1148),
 ('science', 1116),
 ('machine', 1067),
 ('year', 1045),
 ('solution', 1010),
 ('You', 990),
 ('analytics', 973),
 ('statistical', 907),
 ('problem', 894),
 ('opportunity', 879),
 ('customer', 843),
 ('project', 827),
 ('new', 820),
 ('including', 806),
 ('tool', 797),
 ('using', 785),
 ('working', 773),
 ('development', 743),
 ('Scientist', 721),
 ('Python', 719),
 ('technology', 718),
 ('technical', 716),
 ('insight', 713),
 ('Science', 711),
 ('information', 698),
 ('technique', 688),
 ('process', 668),
 ('company', 666),
 ('support', 660),
 ('status', 641),
 ('related', 633),
 ('environment', 631),
 ('research', 625),
 ('help', 621),
 ('world', 592),
 ('field', 588),
 ('role', 586),
 ('R', 582),
 ('ability', 580),
 ('people', 580),
 ('across', 578),
 ('time', 575),
 ('algorithm', 570),
 ('modeling', 565),
 ('degree', 565),
 ('decision', 561),
 ('service', 556),
 ('large', 552),
 ('complex', 548),
 ('SQL', 547),
 ('based', 538),
 ('knowledge', 528),
 ('system', 527),
 ('application', 522),
 ('This', 515),
 ('analytical', 515),
 ('need', 515),
 ('position', 512),
 ('employee', 511),
 ('build', 503),
 ('develop', 495),
 ('design', 477),
 ('disability', 477),
 ('client', 476),
 ('method', 466),
 ('software', 466),
 ('result', 463),
 ('gender', 462),
 ('management', 461),
 ('Our', 455),
 ('predictive', 449),
 ('language', 449),
 ('Ability', 446),
 ('etc', 444),
 ('set', 439),
 ('Strong', 439),
 ('use', 439),
 ('make', 437),
 ('industry', 436),
 ('advanced', 429),
 ('communication', 426),
 ('building', 421),
 ('u', 421),
 ('required', 415),
 ('organization', 412),
 ('Qualifications', 411),
 ('drive', 411)]

In [19]:
#Create your bigrams
bgs = nltk.bigrams(df.description.sum())

#compute frequency distribution for all the bigrams in the text
fdist = nltk.FreqDist(bgs)
sorted(fdist.items(), key=lambda item: item[1],reverse=True)[:100]

[(('machine', 'learning'), 1023),
 (('data', 'science'), 782),
 (('Data', 'Scientist'), 683),
 (('year', 'experience'), 419),
 (('Data', 'Science'), 351),
 (('e', 'g'), 333),
 (('data', 'analysis'), 327),
 (('sexual', 'orientation'), 302),
 (('data', 'set'), 290),
 (('national', 'origin'), 290),
 (('Computer', 'Science'), 287),
 (('data', 'scientist'), 286),
 (('gender', 'identity'), 263),
 (('communication', 'skill'), 246),
 (('veteran', 'status'), 243),
 (('3', 'year'), 207),
 (('related', 'field'), 202),
 (('race', 'color'), 194),
 (('Machine', 'Learning'), 194),
 (('equal', 'opportunity'), 190),
 (('without', 'regard'), 187),
 (('orientation', 'gender'), 187),
 (('Python', 'R'), 186),
 (('data', 'mining'), 180),
 (('business', 'problem'), 180),
 (('2', 'year'), 180),
 (('data', 'visualization'), 179),
 (('data', 'source'), 179),
 (('data', 'driven'), 179),
 (('We', 'looking'), 170),
 (('decision', 'making'), 165),
 (('team', 'member'), 164),
 (('color', 'religion'), 161),
 (('R', 'Python'), 159),
 (('data', 'analytics'), 158),
 (('learning', 'model'), 158),
 (('big', 'data'), 156),
 (('deep', 'learning'), 153),
 (('regard', 'race'), 153),
 (('cross', 'functional'), 152),
 (('5', 'year'), 151),
 (('statistical', 'analysis'), 148),
 (('computer', 'science'), 148),
 (('qualified', 'applicant'), 146),
 (('problem', 'solving'), 145),
 (('Equal', 'Opportunity'), 145),
 (('opportunity', 'employer'), 144),
 (('Experience', 'working'), 142),
 (('The', 'Data'), 140),
 (('programming', 'language'), 136),
 (('predictive', 'model'), 129),
 (('Master', 'degree'), 129),
 (('U', 'S'), 128),
 (('Bachelor', 'degree'), 125),
 (('large', 'data'), 125),
 (('This', 'position'), 123),
 (('best', 'practice'), 122),
 (('protected', 'veteran'), 116),
 (('non', 'technical'), 116),
 (('marital', 'status'), 115),
 (('quantitative', 'field'), 113),
 (('employment', 'without'), 111),
 (('predictive', 'modeling'), 108),
 (('learning', 'technique'), 108),
 (('experience', 'data'), 108),
 (('Opportunity', 'Employer'), 106),
 (('learning', 'algorithm'), 105),
 (('functional', 'team'), 105),
 (('skill', 'ability'), 105),
 (('fast', 'paced'), 104),
 (('United', 'States'), 103),
 (('religion', 'sex'), 103),
 (('unstructured', 'data'), 100),
 (('work', 'experience'), 100),
 (('large', 'scale'), 98),
 (('receive', 'consideration'), 98),
 (('structured', 'unstructured'), 97),
 (('genetic', 'information'), 97),
 (('predictive', 'analytics'), 96),
 (('internal', 'external'), 95),
 (('real', 'world'), 93),
 (('experience', 'working'), 91),
 (('advanced', 'analytics'), 90),
 (('consideration', 'employment'), 89),
 (('reasonable', 'accommodation'), 89),
 (('applicant', 'receive'), 87),
 (('around', 'world'), 86),
 (('This', 'role'), 86),
 (('identity', 'expression'), 85),
 (('individual', 'disability'), 84),
 (('Job', 'Description'), 83),
 (('cutting', 'edge'), 82),
 (('Preferred', 'Qualifications'), 81),
 (('artificial', 'intelligence'), 79),
 (('written', 'verbal'), 79),
 (('actionable', 'insight'), 79),
 (('In', 'role'), 78),
 (('time', 'series'), 78),
 (('visualization', 'tool'), 78),
 (('using', 'data'), 78)]

In [20]:
tgs=ngrams(df.description.sum(),3)
fdist = nltk.FreqDist(tgs)
sorted(fdist.items(), key=lambda item: item[1],reverse=True)[:100]

[(('sexual', 'orientation', 'gender'), 187),
 (('orientation', 'gender', 'identity'), 169),
 (('without', 'regard', 'race'), 153),
 (('race', 'color', 'religion'), 152),
 (('equal', 'opportunity', 'employer'), 141),
 (('regard', 'race', 'color'), 129),
 (('machine', 'learning', 'model'), 128),
 (('The', 'Data', 'Scientist'), 111),
 (('employment', 'without', 'regard'), 108),
 (('large', 'data', 'set'), 106),
 (('machine', 'learning', 'technique'), 102),
 (('Equal', 'Opportunity', 'Employer'), 102),
 (('protected', 'veteran', 'status'), 101),
 (('3', 'year', 'experience'), 96),
 (('machine', 'learning', 'algorithm'), 92),
 (('2', 'year', 'experience'), 90),
 (('receive', 'consideration', 'employment'), 86),
 (('applicant', 'receive', 'consideration'), 85),
 (('consideration', 'employment', 'without'), 85),
 (('gender', 'identity', 'expression'), 83),
 (('qualified', 'applicant', 'receive'), 79),
 (('structured', 'unstructured', 'data'), 77),
 (('sex', 'sexual', 'orientation'), 76),
 (('cross', 'functional', 'team'), 76),
 (('problem', 'solving', 'skill'), 75),
 (('color', 'religion', 'sex'), 75),
 (('All', 'qualified', 'applicant'), 70),
 (('5', 'year', 'experience'), 66),
 (('Data', 'Scientist', 'join'), 63),
 (('As', 'Data', 'Scientist'), 61),
 (('non', 'technical', 'audience'), 60),
 (('state', 'local', 'law'), 58),
 (('Data', 'Science', 'team'), 58),
 (('color', 'national', 'origin'), 58),
 (('The', 'ideal', 'candidate'), 56),
 (('natural', 'language', 'processing'), 55),
 (('Senior', 'Data', 'Scientist'), 54),
 (('federal', 'state', 'local'), 53),
 (('written', 'verbal', 'communication'), 53),
 (('statistical', 'machine', 'learning'), 53),
 (('race', 'religion', 'color'), 53),
 (('status', 'protected', 'veteran'), 50),
 (('technical', 'non', 'technical'), 50),
 (('verbal', 'communication', 'skill'), 49),
 (('communication', 'skill', 'ability'), 49),
 (('written', 'communication', 'skill'), 48),
 (('disability', 'veteran', 'status'), 48),
 (('looking', 'Data', 'Scientist'), 48),
 (('data', 'visualization', 'tool'), 48),
 (('gender', 'identity', 'gender'), 47),
 (('identity', 'gender', 'expression'), 47),
 (('equal', 'employment', 'opportunity'), 46),
 (('science', 'machine', 'learning'), 45),
 (('religion', 'color', 'national'), 44),
 (('fast', 'paced', 'environment'), 44),
 (('data', 'driven', 'decision'), 44),
 (('national', 'origin', 'disability'), 42),
 (('experience', 'data', 'science'), 42),
 (('gender', 'gender', 'identity'), 42),
 (('Computer', 'Science', 'related'), 42),
 (('year', 'experience', 'data'), 42),
 (('Computer', 'Science', 'Engineering'), 41),
 (('machine', 'learning', 'deep'), 41),
 (('learning', 'deep', 'learning'), 41),
 (('data', 'science', 'team'), 41),
 (('religion', 'sex', 'sexual'), 41),
 (('gender', 'sexual', 'orientation'), 41),
 (('national', 'origin', 'gender'), 41),
 (('sex', 'national', 'origin'), 40),
 (('data', 'science', 'project'), 40),
 (('religion', 'national', 'origin'), 40),
 (('machine', 'learning', 'data'), 39),
 (('Science', 'related', 'field'), 39),
 (('physical', 'mental', 'disability'), 39),
 (('characteristic', 'protected', 'law'), 39),
 (('degree', 'Computer', 'Science'), 39),
 (('national', 'origin', 'age'), 39),
 (('data', 'science', 'machine'), 38),
 (('gender', 'identity', 'national'), 38),
 (('subject', 'matter', 'expert'), 38),
 (('veteran', 'status', 'disability'), 38),
 (('The', 'successful', 'candidate'), 38),
 (('identity', 'national', 'origin'), 37),
 (('1', 'year', 'experience'), 37),
 (('data', 'science', 'method'), 37),
 (('Equal', 'Employment', 'Opportunity'), 36),
 (('Statistics', 'Computer', 'Science'), 35),
 (('We', 'looking', 'Data'), 35),
 (('color', 'religion', 'national'), 35),
 (('religion', 'sex', 'national'), 34),
 (('A', 'B', 'testing'), 34),
 (('4', 'year', 'experience'), 34),
 (('Opportunity', 'Affirmative', 'Action'), 34),
 (('status', 'sexual', 'orientation'), 33),
 (('employer', 'All', 'qualified'), 33),
 (('statistic', 'machine', 'learning'), 33),
 (('language', 'e', 'g'), 33),
 (('data', 'science', 'solution'), 32),
 (('complex', 'business', 'problem'), 32),
 (('machine', 'learning', 'method'), 32)]