In [16]:
import pandas as pd
import json

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\duong\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [4]:
df = pd.read_csv('DS data.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        517 non-null    object
 1   location     517 non-null    object
 2   script       517 non-null    object
 3   company      517 non-null    object
 4   description  517 non-null    object
 5   level        517 non-null    object
 6   type         517 non-null    object
 7   function     517 non-null    object
 8   industry     517 non-null    object
dtypes: object(9)
memory usage: 36.5+ KB

,title,location,script,company,description,level,type,function,industry
0,Data Scientist,"Seattle, WA","{""@context"":""http://schema.org"",""@type"":""JobPo...",Amazon,DescriptionThe Amazon Devices-Demand Planning ...,Not Applicable,Full-time,Engineering,"Computer Software, Information Technology and ..."
1,Senior Data Scientist,"Austin, TX","{""@context"":""http://schema.org"",""@type"":""JobPo...",GitHub,"GitHub helps companies, organizations, and gro...",Mid-Senior level,Full-time,Other,Computer Software
2,Data Scientist,"Fremont, CA","{""@context"":""http://schema.org"",""@type"":""JobPo...",Facebook,Facebook's mission is to give people the power...,Not Applicable,Full-time,Engineering,Internet
3,"Machine Learning Engineer, Apple Pay","Austin, TX","{""@context"":""http://schema.org"",""@type"":""JobPo...",Apple,Summary Join the team that provides software s...,Not Applicable,Full-time,Engineering,Consumer Electronics
4,Data Scientist,"McLean, VA","{""@context"":""http://schema.org"",""@type"":""JobPo...",Stem IT,"R&D division of a prominent DARPA partner, is ...",Mid-Senior level,Full-time,Engineering,"Financial Services, Capital Markets, Computer ..."

# Retrieve more information from the **script** feature

We will extract the following in features from the `script` column:
- datePosted
- validThrough
- employmentType
- experienceRequirements
- industry
- skills
- title
- jobLocation
 - addressLocality
 - addressRegion
 - postalCode
- estimatedSalary
 - minValue
 - maxValue

In [8]:
json.loads(df.script[0])

{'@context': 'http://schema.org',
 '@type': 'JobPosting',
 'datePosted': '2021-03-17T15:24:00.000Z',
 'description': "<strong><u>Description<br><br></u></strong>The Amazon Devices-Demand Planning team is seeking an outstanding scientist with strong analytical and communication skills to help with demand forecasting and supply optimization for the entire Amazon device family of products and accessories. We develop scalable and robust state-of-the-art solutions that involve learning from different data sources. This role is central to the continued growth of Amazon Device division as we have grown from the first Kindle E-Reader to a vast portfolio of Echo, Fire TV, Fire Tablet, E-Reader, Ring and many other devices. With better forecasts we drive down supply chain costs, enabling the offer of lower prices and better in-stock selection for our customers.<br>In this role, you will have an opportunity to both develop advanced scientific solutions and drive critical customer and business impacts. You will play a key role to drive end-to-end solutions from understanding our business requirements, exploring a large amount of historical data, building prototypes and exploring conceptually new solutions, to working with partner teams for prod deployment. You will collaborate closely with engineering peers as well as business stakeholders. You will be at the heart of a growing and exciting focus area for Amazon Devices.<br><br>You are an individual with outstanding analytical abilities, excellent communication skills, and are comfortable working with cross-functional teams and systems. You will be responsible for researching, prototyping, experimenting, and analyzing predictive models.<br><br><strong><u>Key Responsibilities<br></u></strong><ul><li> Research and develop new methodologies for demand forecasting and price modeling.</li><li> Improve upon existing methodologies by adding new data sources and implementing model enhancements.</li><li> Drive scalable solutions.</li><li> Create and track accuracy and performance metrics (both technical and business metrics).</li><li> Create, enhance, and maintain technical documentation, and present to other scientists, engineers and business leaders.</li><li> Drive best practices on the team; mentor and guide junior members to achieve their career growth potential.<br><br></li></ul><strong><u>Basic Qualifications<br></u></strong><ul><li> PhD or equivalent Master's Degree plus 4+ years of experience in a quantitative field.</li><li> Strong analytical skills.</li><li> 2+ years of experience of building predictive models for business and proficiency in model development and model validation.</li><li> Experience in efficiently handling large data sets, e.g., by using SQL, and databases in a business environment.</li><li> Experience with R, Python, Matlab or other scripting languages.<br></li></ul><strong><u>Preferred Qualifications<br></u></strong><ul><li> Experience with time series modeling and machine learning forecasting.</li><li> Experience with price modeling.<br><br></li></ul><strong>Company</strong> - Amazon.com Services LLC<br>Job ID: A1150842",
 'employmentType': 'FULL_TIME',
 'experienceRequirements': 'Not Applicable',
 'hiringOrganization': {'@type': 'Organization',
  'name': 'Amazon',
  'sameAs': 'https://www.linkedin.com/company/amazon',
  'logo': 'https://media-exp1.licdn.com/dms/image/C560BAQHTvZwCx4p2Qg/company-logo_200_200/0/1612205615891?e=1623888000&v=beta&t=ONuILZrxsg59IlYfXLSRpQZOzxBFl5zOjcjrLr7aqgc'},
 'identifier': {'@type': 'PropertyValue',
  'name': 'Amazon',
  'value': '1150842'},
 'image': 'https://media-exp1.licdn.com/dms/image/C560BAQHTvZwCx4p2Qg/company-logo_100_100/0/1612205615891?e=1623888000&v=beta&t=ROjO0agMkoom8nzBag5wrXdmWq1VeiNlYFaQTb6B3jI',
 'industry': 'Computer Software,Information Technology and Services,Internet',
 'jobLocation': {'@type': 'Place',
  'address': {'@type': 'PostalAddress',
   'streetAddress': None,
   'addressLocality': 'Seattle',
   'addressRegion': 'WA',
   'postalCode': '98164',
   'addressCountry': 'US'}},
 'skills': '',
 'title': 'Data Scientist',
 'validThrough': '2021-04-16T15:23:58.000Z',
 'estimatedSalary': {'@type': 'MonetaryAmount',
  'currency': 'USD',
  'value': {'@type': 'QuantitativeValue',
   'minValue': 110000,
   'maxValue': 150000,
   'unitText': 'YEAR'}}}

In [10]:
data = []
unusedItem = ['@context','@type','hiringOrganization',
              'identifier','image']
for script in df.script:
    record = json.loads(script)
    for item in unusedItem:
        del record[item]
    data.append(record)
data = pd.DataFrame.from_dict(data)
data.info()
data.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   datePosted                     517 non-null    object
 1   description                    517 non-null    object
 2   employmentType                 517 non-null    object
 3   experienceRequirements         517 non-null    object
 4   industry                       517 non-null    object
 5   jobLocation                    517 non-null    object
 6   skills                         517 non-null    object
 7   title                          517 non-null    object
 8   validThrough                   517 non-null    object
 9   estimatedSalary                103 non-null    object
 10  jobLocationType                52 non-null     object
 11  applicantLocationRequirements  52 non-null     object
 12  baseSalary                     10 non-null     object
dtypes: object(13)
memory usage: 52.6+ KB

,datePosted,description,employmentType,experienceRequirements,industry,jobLocation,skills,title,validThrough,estimatedSalary,jobLocationType,applicantLocationRequirements,baseSalary
0,2021-03-17T15:24:00.000Z,<strong><u>Description<br><br></u></strong>The...,FULL_TIME,Not Applicable,"Computer Software,Information Technology and S...","{'@type': 'Place', 'address': {'@type': 'Posta...",,Data Scientist,2021-04-16T15:23:58.000Z,"{'@type': 'MonetaryAmount', 'currency': 'USD',...",NaN,NaN,NaN
1,2021-03-18T00:09:18.000Z,"<br>GitHub helps companies, organizations, and...",FULL_TIME,Mid-Senior level,Computer Software,"{'@type': 'Place', 'address': {'@type': 'Posta...",,Senior Data Scientist,2021-04-17T00:09:18.000Z,NaN,NaN,NaN,NaN
2,2021-03-17T06:24:32.000Z,Facebook's mission is to give people the power...,FULL_TIME,Not Applicable,Internet,"{'@type': 'Place', 'address': {'@type': 'Posta...",,Data Scientist,2021-04-16T06:24:31.000Z,"{'@type': 'MonetaryAmount', 'currency': 'USD',...",NaN,NaN,NaN

In [14]:
# skills
print(data.skills.value_counts())
# it contains mostly empty string value so we will drop it
data = data.drop(columns=['skills'])
data.columns

                                                                                                                                                                   515
Analytical Skills,Python (Programming Language),Machine Learning,Public Sector,Data Science,Problem Solving,Stage Management,Engineering,Programming,Commercial      2
Name: skills, dtype: int64

Index(['datePosted', 'description', 'employmentType', 'experienceRequirements',
       'industry', 'jobLocation', 'title', 'validThrough', 'estimatedSalary',
       'jobLocationType', 'applicantLocationRequirements', 'baseSalary'],
      dtype='object')

In [19]:
# description column is in HTML format, while we already has it from df
# we will use the df description
data['description'] = df.description

In [20]:
# jobLocation
locs = []
for loc in data.jobLocation:
    loc = loc['address']
    locs.append(loc)
locs = pd.DataFrame.from_dict(locs)
locs.info()
locs.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   @type            517 non-null    object
 1   streetAddress    0 non-null      object
 2   addressLocality  513 non-null    object
 3   addressRegion    513 non-null    object
 4   postalCode       517 non-null    object
 5   addressCountry   517 non-null    object
dtypes: object(6)
memory usage: 24.4+ KB

,@type,streetAddress,addressLocality,addressRegion,postalCode,addressCountry
0,PostalAddress,None,Seattle,WA,98164,US
1,PostalAddress,None,Austin,TX,78746,US
2,PostalAddress,None,Fremont,CA,94537,US

In [21]:
# drop unused columns
locs = locs.drop(columns=['@type','streetAddress','addressCountry'])
locs.columns

Index(['addressLocality', 'addressRegion', 'postalCode'], dtype='object')

In [24]:
# merge to data
data = pd.concat((data,locs),axis=1)
data.head(3)

,datePosted,description,employmentType,experienceRequirements,industry,jobLocation,title,validThrough,estimatedSalary,jobLocationType,applicantLocationRequirements,baseSalary,addressLocality,addressRegion,postalCode
0,2021-03-17T15:24:00.000Z,DescriptionThe Amazon Devices-Demand Planning ...,FULL_TIME,Not Applicable,"Computer Software,Information Technology and S...","{'@type': 'Place', 'address': {'@type': 'Posta...",Data Scientist,2021-04-16T15:23:58.000Z,"{'@type': 'MonetaryAmount', 'currency': 'USD',...",NaN,NaN,NaN,Seattle,WA,98164
1,2021-03-18T00:09:18.000Z,"GitHub helps companies, organizations, and gro...",FULL_TIME,Mid-Senior level,Computer Software,"{'@type': 'Place', 'address': {'@type': 'Posta...",Senior Data Scientist,2021-04-17T00:09:18.000Z,NaN,NaN,NaN,NaN,Austin,TX,78746
2,2021-03-17T06:24:32.000Z,Facebook's mission is to give people the power...,FULL_TIME,Not Applicable,Internet,"{'@type': 'Place', 'address': {'@type': 'Posta...",Data Scientist,2021-04-16T06:24:31.000Z,"{'@type': 'MonetaryAmount', 'currency': 'USD',...",NaN,NaN,NaN,Fremont,CA,94537

In [30]:
# estimatedSalary
data.estimatedSalary.isna().sum()
# because estimated Salary columns has too many Nan values, we will drop them
data = data.drop(columns=['estimatedSalary'])
data.columns

Index(['datePosted', 'description', 'employmentType', 'experienceRequirements',
       'industry', 'jobLocation', 'title', 'validThrough', 'jobLocationType',
       'applicantLocationRequirements', 'baseSalary', 'addressLocality',
       'addressRegion', 'postalCode'],
      dtype='object')

In [32]:
# time objects
data['datePosted'] = pd.to_datetime(data.datePosted)
data['validThrough'] = pd.to_datetime(data.validThrough)
data['duration'] = data['validThrough'] - data['datePosted']
data[['datePosted','validThrough','duration']]

                   datePosted              validThrough         duration
0   2021-03-17 15:24:00+00:00 2021-04-16 15:23:58+00:00 29 days 23:59:58
1   2021-03-18 00:09:18+00:00 2021-04-17 00:09:18+00:00 30 days 00:00:00
2   2021-03-17 06:24:32+00:00 2021-04-16 06:24:31+00:00 29 days 23:59:59
3   2021-03-17 19:19:01+00:00 2021-04-17 02:15:16+00:00 30 days 06:56:15
4   2021-03-17 20:45:56+00:00 2021-04-16 20:45:56+00:00 30 days 00:00:00
..                        ...                       ...              ...
512 2021-02-10 19:16:42+00:00 2021-04-17 00:48:52+00:00 65 days 05:32:10
513 2021-03-08 19:23:26+00:00 2021-04-07 19:23:26+00:00 30 days 00:00:00
514 2021-03-09 04:26:03+00:00 2021-04-08 04:26:03+00:00 30 days 00:00:00
515 2021-02-25 15:54:02+00:00 2021-04-15 17:37:56+00:00 49 days 01:43:54
516 2021-03-17 11:49:46+00:00 2021-04-16 11:49:46+00:00 30 days 00:00:00

[517 rows x 3 columns]

In [60]:
data['duration'] = data['duration'].dt.total_seconds()/(3600*24)
data['duration']

0      29.999977
1      30.000000
2      29.999988
3      30.289062
4      30.000000
         ...
512    65.230671
513    30.000000
514    30.000000
515    49.072153
516    30.000000
Name: duration, Length: 517, dtype: float64

## Finalize the data preparation

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   datePosted                     517 non-null    datetime64[ns, UTC]
 1   description                    517 non-null    object
 2   employmentType                 517 non-null    object
 3   experienceRequirements         517 non-null    object
 4   industry                       517 non-null    object
 5   jobLocation                    517 non-null    object
 6   title                          517 non-null    object
 7   validThrough                   517 non-null    datetime64[ns, UTC]
 8   jobLocationType                52 non-null     object
 9   applicantLocationRequirements  52 non-null     object
 10  baseSalary                     10 non-null     object
 11  addressLocality                513 non-null    object
 12  addressRegion                  513 non-null    object
 13  postalCode                     517 non-null    object
 14  duration                       517 non-null    float64
dtypes: datetime64[ns, UTC](2), float64(1), object(12)
memory usage: 60.7+ KB

In [63]:
data = data.drop(columns=['jobLocation','jobLocationType',
                          'applicantLocationRequirements',
                          'baseSalary'])
data.columns

Index(['datePosted', 'description', 'employmentType', 'experienceRequirements',
       'industry', 'title', 'validThrough', 'addressLocality', 'addressRegion',
       'postalCode', 'duration'],
      dtype='object')

In [65]:
data['company'] = df.company
data['function'] = df.function
data.columns

Index(['datePosted', 'description', 'employmentType', 'experienceRequirements',
       'industry', 'title', 'validThrough', 'addressLocality', 'addressRegion',
       'postalCode', 'duration', 'company', 'function'],
      dtype='object')

In [68]:
# rearrange columns
data = data.reindex(columns= ['title', 'company','datePosted',
                       'validThrough','duration','addressLocality',
                       'addressRegion','postalCode','employmentType',
                       'experienceRequirements', 'function',
                       'industry', 'description'
                       ])
data.columns

Index(['title', 'company', 'datePosted', 'validThrough', 'duration',
       'addressLocality', 'addressRegion', 'postalCode', 'employmentType',
       'experienceRequirements', 'function', 'industry', 'description'],
      dtype='object')

In [70]:
data.dropna(inplace = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 513 entries, 0 to 516
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   title                   513 non-null    object
 1   company                 513 non-null    object
 2   datePosted              513 non-null    datetime64[ns, UTC]
 3   validThrough            513 non-null    datetime64[ns, UTC]
 4   duration                513 non-null    float64
 5   addressLocality         513 non-null    object
 6   addressRegion           513 non-null    object
 7   postalCode              513 non-null    object
 8   employmentType          513 non-null    object
 9   experienceRequirements  513 non-null    object
 10  function                513 non-null    object
 11  industry                513 non-null    object
 12  description             513 non-null    object
dtypes: datetime64[ns, UTC](2), float64(1), object(10)
memory usage: 56.1+ KB

In [71]:
data.to_csv('prepDS.csv',index=False)