In [18]:
import pandas as pd
import re
import numpy as np

In [3]:
df = pd.read_csv('DS data 032321.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 959 entries, 0 to 958
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   datePosted                     959 non-null    object
 1   description                    959 non-null    object
 2   employmentType                 959 non-null    object
 3   experienceRequirements         959 non-null    object
 4   hiringOrganization             959 non-null    object
 5   identifier                     959 non-null    object
 6   industry                       958 non-null    object
 7   jobLocation                    959 non-null    object
 8   skills                         5 non-null      object
 9   title                          959 non-null    object
 10  validThrough                   959 non-null    object
 11  jobLocationType                128 non-null    object
 12  applicantLocationRequirements  128 non-null    object
 13  estimatedSalary                276 non-null    object
 14  baseSalary                     28 non-null     object
 15  desc_html                      959 non-null    object
dtypes: object(16)
memory usage: 120.0+ KB

,datePosted,description,employmentType,experienceRequirements,hiringOrganization,identifier,industry,jobLocation,skills,title,validThrough,jobLocationType,applicantLocationRequirements,estimatedSalary,baseSalary,desc_html
0,2021-03-23T16:03:21.000Z,Genuent is hiring a Data Scientist/Data Engine...,FULL_TIME,Mid-Senior level,"{'@type': 'Organization', 'name': 'Genuent', '...","{'@type': 'PropertyValue', 'name': 'Genuent', ...",Staffing and Recruiting,"{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist - REMOTE,2021-04-22T16:03:20.000Z,NaN,NaN,NaN,NaN,<p>Genuent is hiring a Data Scientist/Data Eng...
1,2021-03-23T17:02:32.000Z,Ayata is developing its Prescriptive Analytics...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Ayata', 'sa...","{'@type': 'PropertyValue', 'name': 'Ayata', 'v...","Information Technology and Services,Computer S...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,ML/AI/NLP Data Scientist,2021-04-22T17:02:32.000Z,NaN,NaN,NaN,NaN,Ayata is developing its Prescriptive Analytics...
2,2021-03-23T14:35:46.000Z,"Our team, part of the Customer Success Enginee...",FULL_TIME,Not Applicable,"{'@type': 'Organization', 'name': 'Microsoft',...","{'@type': 'PropertyValue', 'name': 'Microsoft'...","Computer Hardware,Computer Software,Informatio...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data & Applied Scientist,2021-04-22T14:35:45.000Z,NaN,NaN,NaN,NaN,"Our team, part of the Customer Success Enginee..."
3,2021-03-22T20:24:23.000Z,Headspace is looking for a Data Scientist to h...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Headspace I...","{'@type': 'PropertyValue', 'name': 'Headspace ...","Marketing and Advertising,Computer Software,In...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist (Remote),2021-04-21T20:24:22.000Z,TELECOMMUTE,"{'@type': 'Country', 'name': 'United States'}",NaN,NaN,<em>Headspace is looking for a Data Scientist ...
4,2021-03-23T09:07:02.000Z,DescriptionThe AWS Applications team builds po...,FULL_TIME,Not Applicable,"{'@type': 'Organization', 'name': 'Amazon Web ...","{'@type': 'PropertyValue', 'name': 'Amazon Web...","Computer Software,Information Technology and S...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist,2021-04-22T09:07:01.000Z,NaN,NaN,"{'@type': 'MonetaryAmount', 'currency': 'USD',...",NaN,<strong><u>Description<br><br></u></strong>The...

In [4]:
df.description[0]

'Genuent is hiring a Data Scientist/Data Engineer. This would be a long term contract opportunity located in Houston, TX. If this is something you might be interested in, please send your updated resume to Mike Sabo: MSabo@genuent.com\xa0**Due to client restrictions, we are only accepting those authorized to work in the US without visa sponsorship now or in the future**We are looking for a Data Scientist to build econometric models and apply economic theory to solve business problems to support our enterprise strategic initiatives. Reporting to the Director of Data Science, this person will be the SME in developing complete analytical solutions, mining extensive data sets for insights, building scalable models, and enabling the overall Data Science capability. This person will also\xa0drive the optimization of how we predict market demand pricing, and marketing mix to support both the business lines of service. This person will help build a brand new data science organization.Responsibilities:Build long-term causal estimation models using a combination of econometrics, machine learning and predictive statistics to drive thought leadership around Real Estate, Merchandizing, Pricing, and Marketing, among others.Partner with our Data Engineering team to guide and build the data infrastructure needed to begin applying supervised and unsupervised modeling techniques to generate predictions and uncover patterns.Develop hypothesis statements and apply statistical testing to determine causality and generalize observationsModel Assessment & Validation: Identify the model evaluation metrics and apply best practice techniques for model testing and tuning to assess accuracy, fit, validity, and robustness for multi-stage models and model ensembles.Model Deployment & Scaling: Support efforts to ensure that analytical models and techniques used can be deployed into production. Support evaluation of the analytical model and the scalability and sustainability of analytical models.Code Development & Testing: Write code to develop the required solution and application features by using the recommended programming language and leveraging business, technical, and data requirements. Test the code using the recommended testing approach.Data Visualization: Generate appropriate graphical representations of data and model outcomes. Understand customer requirements to design appropriate data representation for multiple data sets.Support the leadership team in developing long-term goals and roadmaps.Technical Skills & Qualifications:Strong background in econometrics (e.g., program evaluation, forecasting, time series, panel data, and/or high dimensional problems), economic theory, and quantitative methods.Demonstrated understanding of financial levers related to merchandising, planning and allocation, marketing, pricing & promotions.6+ years of applied advanced analytics, statistics and/or data science experience, using R and/or Python, to solve business problems.Experience with price optimization and demand forecasting.Marketing industry knowledge and previous experience in working on marketing mix modelingCan effectively and succinctly decompose highly complex findings to non-technical audiences.Excellent data visualization skills, able to determine the appropriate visualization for a variety of data types and create compelling stories with data.A proven track record of leading successful projects and driving measurable, viable results using Data Science techniques. Education:Masters Degree or PhD. in a Data Science, Applied Mathematics, Computer Science or otherwise research-based field; 5-7 years of related experience and/or training; or equivalent combination of education and experience'

In [5]:
# remove all punctuation
p = re.compile('\W+')
news = p.sub(' ', df.description[0])
news

'Genuent is hiring a Data Scientist Data Engineer This would be a long term contract opportunity located in Houston TX If this is something you might be interested in please send your updated resume to Mike Sabo MSabo genuent com Due to client restrictions we are only accepting those authorized to work in the US without visa sponsorship now or in the future We are looking for a Data Scientist to build econometric models and apply economic theory to solve business problems to support our enterprise strategic initiatives Reporting to the Director of Data Science this person will be the SME in developing complete analytical solutions mining extensive data sets for insights building scalable models and enabling the overall Data Science capability This person will also drive the optimization of how we predict market demand pricing and marketing mix to support both the business lines of service This person will help build a brand new data science organization Responsibilities Build long term causal estimation models using a combination of econometrics machine learning and predictive statistics to drive thought leadership around Real Estate Merchandizing Pricing and Marketing among others Partner with our Data Engineering team to guide and build the data infrastructure needed to begin applying supervised and unsupervised modeling techniques to generate predictions and uncover patterns Develop hypothesis statements and apply statistical testing to determine causality and generalize observationsModel Assessment Validation Identify the model evaluation metrics and apply best practice techniques for model testing and tuning to assess accuracy fit validity and robustness for multi stage models and model ensembles Model Deployment Scaling Support efforts to ensure that analytical models and techniques used can be deployed into production Support evaluation of the analytical model and the scalability and sustainability of analytical models Code Development Testing Write code to develop the required solution and application features by using the recommended programming language and leveraging business technical and data requirements Test the code using the recommended testing approach Data Visualization Generate appropriate graphical representations of data and model outcomes Understand customer requirements to design appropriate data representation for multiple data sets Support the leadership team in developing long term goals and roadmaps Technical Skills Qualifications Strong background in econometrics e g program evaluation forecasting time series panel data and or high dimensional problems economic theory and quantitative methods Demonstrated understanding of financial levers related to merchandising planning and allocation marketing pricing promotions 6 years of applied advanced analytics statistics and or data science experience using R and or Python to solve business problems Experience with price optimization and demand forecasting Marketing industry knowledge and previous experience in working on marketing mix modelingCan effectively and succinctly decompose highly complex findings to non technical audiences Excellent data visualization skills able to determine the appropriate visualization for a variety of data types and create compelling stories with data A proven track record of leading successful projects and driving measurable viable results using Data Science techniques Education Masters Degree or PhD in a Data Science Applied Mathematics Computer Science or otherwise research based field 5 7 years of related experience and or training or equivalent combination of education and experience'

In [6]:
# Find the wrong words such as moreMoney and add white space
p = re.compile(r"(?<=\w)([A-Z][a-z]+)")
s = 'asd moreMoney Ads asdAvd'
p.sub(r" \1",s)

'asd more Money Ads asd Avd'

In [7]:
p.sub(r" \1",news)

'Genuent is hiring a Data Scientist Data Engineer This would be a long term contract opportunity located in Houston TX If this is something you might be interested in please send your updated resume to Mike Sabo M Sabo genuent com Due to client restrictions we are only accepting those authorized to work in the US without visa sponsorship now or in the future We are looking for a Data Scientist to build econometric models and apply economic theory to solve business problems to support our enterprise strategic initiatives Reporting to the Director of Data Science this person will be the SME in developing complete analytical solutions mining extensive data sets for insights building scalable models and enabling the overall Data Science capability This person will also drive the optimization of how we predict market demand pricing and marketing mix to support both the business lines of service This person will help build a brand new data science organization Responsibilities Build long term causal estimation models using a combination of econometrics machine learning and predictive statistics to drive thought leadership around Real Estate Merchandizing Pricing and Marketing among others Partner with our Data Engineering team to guide and build the data infrastructure needed to begin applying supervised and unsupervised modeling techniques to generate predictions and uncover patterns Develop hypothesis statements and apply statistical testing to determine causality and generalize observations Model Assessment Validation Identify the model evaluation metrics and apply best practice techniques for model testing and tuning to assess accuracy fit validity and robustness for multi stage models and model ensembles Model Deployment Scaling Support efforts to ensure that analytical models and techniques used can be deployed into production Support evaluation of the analytical model and the scalability and sustainability of analytical models Code Development Testing Write code to develop the required solution and application features by using the recommended programming language and leveraging business technical and data requirements Test the code using the recommended testing approach Data Visualization Generate appropriate graphical representations of data and model outcomes Understand customer requirements to design appropriate data representation for multiple data sets Support the leadership team in developing long term goals and roadmaps Technical Skills Qualifications Strong background in econometrics e g program evaluation forecasting time series panel data and or high dimensional problems economic theory and quantitative methods Demonstrated understanding of financial levers related to merchandising planning and allocation marketing pricing promotions 6 years of applied advanced analytics statistics and or data science experience using R and or Python to solve business problems Experience with price optimization and demand forecasting Marketing industry knowledge and previous experience in working on marketing mix modeling Can effectively and succinctly decompose highly complex findings to non technical audiences Excellent data visualization skills able to determine the appropriate visualization for a variety of data types and create compelling stories with data A proven track record of leading successful projects and driving measurable viable results using Data Science techniques Education Masters Degree or PhD in a Data Science Applied Mathematics Computer Science or otherwise research based field 5 7 years of related experience and or training or equivalent combination of education and experience'

In [8]:
def simple_clean(s):
    # remove all punctuation
    p = re.compile('\W+')
    s = p.sub(' ', s)
    # Find the wrong words such as moreMoney and add white space
    p = re.compile(r"(?<=\w)([A-Z][a-z]+)")
    s = p.sub(r" \1",s)
    s = s.lower()
    return s
test = 'asd moreMoney Ads asdAvd'
simple_clean(test)

'asd more money ads asd avd'

In [9]:
df['desc'] = df.description.apply(simple_clean)
df.desc

0      genuent is hiring a data scientist data engine...
1      ayata is developing its prescriptive analytics...
2      our team part of the customer success engineer...
3      headspace is looking for a data scientist to h...
4      description the aws applications team builds p...
                             ...
954    are you the kind of person that is not afraid ...
955    the aim labs consulting team is looking for a ...
956    the opportunity come work for a data driven in...
957    exponent is a leading engineering and scientif...
958    if you are a data scientist with experience pl...
Name: desc, Length: 959, dtype: object

## Separate the job requirements

In [10]:
kws = ['responsibilitie','qualification',
      'what you','requirement',
       "about you","how you ll",
      'knowledge and skills','what skills do i need',
      'like you to have',"ideal candidate",'if you have',"the essentials",
       "how you can set yourself apart",'you have',"need to have","who is expert in",
       "key skills", "knowledge experience",
       'we re looking for', "successful candidate", "desired skills",
       'this role requires'
      ]

In [11]:
de = pd.DataFrame()
for kw in kws:
    des_ind = df.desc.str.find(kw)
    de = pd.concat((de,des_ind),axis =1)
de

,desc,desc,desc,desc,desc,desc,desc,desc,desc,desc,...,desc,desc,desc,desc,desc,desc,desc,desc,desc,desc
0,968,2489,-1,2144,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,543,1806,-1,1077,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,894,1267,-1,2053,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,3847,1964,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,488,-1,-1
4,1733,4587,1103,4995,4386,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,1837,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,930,-1,-1,525,-1,-1,-1,-1,-1,401,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
955,1237,-1,-1,1359,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
956,2323,5839,-1,-1,-1,-1,-1,-1,-1,1779,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
957,-1,2270,-1,-1,1066,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
958,-1,-1,255,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [12]:
df[(de == -1).all(axis=1)].desc

19     the operations analysis performance oap team a...
175     no c2c idr is seeking a data scientist to joi...
187    at superatv we are working to wow our customer...
195    job description as a data scientist iot databr...
219    data scientist role with a leading company gre...
220    medium s mission is to help people deepen thei...
249    the strategy team is one of the core pillars o...
272    data scientist digital marketing new york ny 1...
287    io173 are currently looking to recruit a data ...
328    who s clearcover clearcover is the smarter car...
329    who we are we make timeless clothes that last ...
347    position summary vorys e control provides inte...
351    the university s center for advanced transport...
364    fresh consulting is a design led software deve...
374    are you looking for a friendly fast paced work...
376    create analytically derived tools to better in...
385    job title senior data scientist location great...
387    are you passionate about changing the world th...
389    as a senior data scientist you will you ll col...
407    app zen is the leader in ai software for finan...
422    scripps health administrative services support...
471    mission we are hiring a data scientist to be t...
486    job description 5 6 experience with data scien...
497    as a data scientist in this role you will be a...
512    he team you will be joining one of the largest...
555    position title data engineer business intellig...
580    recursion is a digital biology company industr...
584    copart is looking for a data scientist who wil...
587    role data scientist san francisco or sunnyvale...
621    job descriptionsecurity clearance required ts ...
658    our client in the fairfax va area is looking f...
667    create analytically derived tools to better in...
676    selected opportunity for you data scientist ge...
680    synchronoss the leader of cloud messaging and ...
718    designs develops and programs methods processe...
755    data scientist new york full time this positio...
760    title data scientist req 2020 98702 posted dat...
782    looking to hire a data scientist in new york n...
791    experian is very excited to share this interns...
792    title data scientist location st louis mo cont...
807    idr is seeking a data scientist to join one of...
819    job description 5 6 experience with data scien...
820    app zen is the leader in ai software for finan...
826    we are actively recruiting for a data science ...
829    data scientist customer analytics and data sci...
895    fueled by a fundamental belief that having acc...
910    designs develops and programs methods processe...
Name: desc, dtype: object

In [15]:
df[(de == -1).all(axis=1)==False]

,datePosted,description,employmentType,experienceRequirements,hiringOrganization,identifier,industry,jobLocation,skills,title,validThrough,jobLocationType,applicantLocationRequirements,estimatedSalary,baseSalary,desc_html,desc
0,2021-03-23T16:03:21.000Z,Genuent is hiring a Data Scientist/Data Engine...,FULL_TIME,Mid-Senior level,"{'@type': 'Organization', 'name': 'Genuent', '...","{'@type': 'PropertyValue', 'name': 'Genuent', ...",Staffing and Recruiting,"{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist - REMOTE,2021-04-22T16:03:20.000Z,NaN,NaN,NaN,NaN,<p>Genuent is hiring a Data Scientist/Data Eng...,genuent is hiring a data scientist data engine...
1,2021-03-23T17:02:32.000Z,Ayata is developing its Prescriptive Analytics...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Ayata', 'sa...","{'@type': 'PropertyValue', 'name': 'Ayata', 'v...","Information Technology and Services,Computer S...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,ML/AI/NLP Data Scientist,2021-04-22T17:02:32.000Z,NaN,NaN,NaN,NaN,Ayata is developing its Prescriptive Analytics...,ayata is developing its prescriptive analytics...
2,2021-03-23T14:35:46.000Z,"Our team, part of the Customer Success Enginee...",FULL_TIME,Not Applicable,"{'@type': 'Organization', 'name': 'Microsoft',...","{'@type': 'PropertyValue', 'name': 'Microsoft'...","Computer Hardware,Computer Software,Informatio...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data & Applied Scientist,2021-04-22T14:35:45.000Z,NaN,NaN,NaN,NaN,"Our team, part of the Customer Success Enginee...",our team part of the customer success engineer...
3,2021-03-22T20:24:23.000Z,Headspace is looking for a Data Scientist to h...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Headspace I...","{'@type': 'PropertyValue', 'name': 'Headspace ...","Marketing and Advertising,Computer Software,In...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist (Remote),2021-04-21T20:24:22.000Z,TELECOMMUTE,"{'@type': 'Country', 'name': 'United States'}",NaN,NaN,<em>Headspace is looking for a Data Scientist ...,headspace is looking for a data scientist to h...
4,2021-03-23T09:07:02.000Z,DescriptionThe AWS Applications team builds po...,FULL_TIME,Not Applicable,"{'@type': 'Organization', 'name': 'Amazon Web ...","{'@type': 'PropertyValue', 'name': 'Amazon Web...","Computer Software,Information Technology and S...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist,2021-04-22T09:07:01.000Z,NaN,NaN,"{'@type': 'MonetaryAmount', 'currency': 'USD',...",NaN,<strong><u>Description<br><br></u></strong>The...,description the aws applications team builds p...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,2021-03-15T20:27:20.000Z,Are you the kind of person that is not afraid ...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Creative Ci...","{'@type': 'PropertyValue', 'name': 'Creative C...","Marketing and Advertising,Information Technolo...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist,2021-04-22T20:01:14.000Z,NaN,NaN,NaN,NaN,Are you the kind of person that is not afraid ...,are you the kind of person that is not afraid ...
955,2021-03-16T16:15:14.000Z,The AimLabs Consulting Team is looking for a h...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Lockheed Ma...","{'@type': 'PropertyValue', 'name': 'Lockheed M...","Construction,Information Technology and Servic...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,AI/Machine Learning Engineer,2021-04-19T16:48:06.000Z,NaN,NaN,NaN,NaN,The AimLabs Consulting Team is looking for a h...,the aim labs consulting team is looking for a ...
956,2021-03-22T12:30:40.000Z,The OpportunityCome work for a data-driven inn...,FULL_TIME,Mid-Senior level,"{'@type': 'Organization', 'name': 'Teladoc Hea...","{'@type': 'PropertyValue', 'name': 'Teladoc He...","Health, Wellness and Fitness,Medical Devices,I...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Senior Data Scientist,2021-04-21T12:30:40.000Z,NaN,NaN,NaN,NaN,<strong><strong>The Opportunity<br></strong></...,the opportunity come work for a data driven in...
957,2021-02-03T07:55:15.000Z,Exponent is a leading engineering and scienti...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Exponent', ...","{'@type': 'PropertyValue', 'name': 'Exponent',...","Research,Mechanical or Industrial Engineering,...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist,2021-04-10T19:26:28.000Z,NaN,NaN,"{'@type': 'MonetaryAmount', 'currency': 'USD',...",NaN,<strong>Exponent </strong> is a leading engine...,exponent is a leading engineering and scientif...
958,2021-03-17T00:00:00.000Z,"If you are a Data Scientist with experience, p...",FULL_TIME,Mid-Senior level,"{'@type': 'Organization', 'name': 'CyberCoders...","{'@type': 'PropertyValue', 'name': 'CyberCoder...",Transportation/Trucking/Railroad,"{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist,2021-04-22T16:18:45.000Z,NaN,NaN,NaN,"{'@type': 'MonetaryAmount', 'currency': 'USD',...","If you are a Data Scientist with experience, p...",if you are a data scientist with experience pl...

In [16]:
df = df[(de == -1).all(axis=1)==False]

In [25]:
de = pd.DataFrame()
for kw in kws:
    des_ind = df.desc.str.find(kw)
    de = pd.concat((de,des_ind),axis =1)
de

,desc,desc,desc,desc,desc,desc,desc,desc,desc,desc,...,desc,desc,desc,desc,desc,desc,desc,desc,desc,desc
0,968,2489,-1,2144,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,543,1806,-1,1077,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,894,1267,-1,2053,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,3847,1964,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,488,-1,-1
4,1733,4587,1103,4995,4386,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,1837,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,930,-1,-1,525,-1,-1,-1,-1,-1,401,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
955,1237,-1,-1,1359,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
956,2323,5839,-1,-1,-1,-1,-1,-1,-1,1779,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
957,-1,2270,-1,-1,1066,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
958,-1,-1,255,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [26]:
min_pos = de.replace(-1,np.NaN).min(1).astype('int')
min_pos

0       968
1       543
2       894
3       488
4      1103
       ...
954     401
955    1237
956    1779
957    1066
958     255
Length: 912, dtype: int32

In [29]:
df.desc.memory_usage()

14592

In [30]:
def shorten(s,p):
    return s[p:]

In [32]:
df['desc'] = [s[p:] for s,p in zip(df.desc,min_pos)]
df.desc

0      responsibilities build long term causal estima...
1      responsibilities and duties ayata is looking f...
2      responsibilities responsibilities being one of...
3      successful candidate should love complex busin...
4      what you will do here we are looking for a sea...
                             ...
954    ideal candidate is good at prioritizing and ma...
955    responsibilities of this position include coll...
956    ideal candidate will have solid hands on exper...
957    about your interest in joining our growing tea...
958    what you will be doing solve business problems...
Name: desc, Length: 912, dtype: object

In [33]:
df.desc.memory_usage()

14592

In [36]:
df.reset_index(inplace=True, drop=True)

In [37]:
df.to_csv('prepDS.csv',index=False)

In [38]:
df

,datePosted,description,employmentType,experienceRequirements,hiringOrganization,identifier,industry,jobLocation,skills,title,validThrough,jobLocationType,applicantLocationRequirements,estimatedSalary,baseSalary,desc_html,desc
0,2021-03-23T16:03:21.000Z,Genuent is hiring a Data Scientist/Data Engine...,FULL_TIME,Mid-Senior level,"{'@type': 'Organization', 'name': 'Genuent', '...","{'@type': 'PropertyValue', 'name': 'Genuent', ...",Staffing and Recruiting,"{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist - REMOTE,2021-04-22T16:03:20.000Z,NaN,NaN,NaN,NaN,<p>Genuent is hiring a Data Scientist/Data Eng...,responsibilities build long term causal estima...
1,2021-03-23T17:02:32.000Z,Ayata is developing its Prescriptive Analytics...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Ayata', 'sa...","{'@type': 'PropertyValue', 'name': 'Ayata', 'v...","Information Technology and Services,Computer S...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,ML/AI/NLP Data Scientist,2021-04-22T17:02:32.000Z,NaN,NaN,NaN,NaN,Ayata is developing its Prescriptive Analytics...,responsibilities and duties ayata is looking f...
2,2021-03-23T14:35:46.000Z,"Our team, part of the Customer Success Enginee...",FULL_TIME,Not Applicable,"{'@type': 'Organization', 'name': 'Microsoft',...","{'@type': 'PropertyValue', 'name': 'Microsoft'...","Computer Hardware,Computer Software,Informatio...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data & Applied Scientist,2021-04-22T14:35:45.000Z,NaN,NaN,NaN,NaN,"Our team, part of the Customer Success Enginee...",responsibilities responsibilities being one of...
3,2021-03-22T20:24:23.000Z,Headspace is looking for a Data Scientist to h...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Headspace I...","{'@type': 'PropertyValue', 'name': 'Headspace ...","Marketing and Advertising,Computer Software,In...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist (Remote),2021-04-21T20:24:22.000Z,TELECOMMUTE,"{'@type': 'Country', 'name': 'United States'}",NaN,NaN,<em>Headspace is looking for a Data Scientist ...,successful candidate should love complex busin...
4,2021-03-23T09:07:02.000Z,DescriptionThe AWS Applications team builds po...,FULL_TIME,Not Applicable,"{'@type': 'Organization', 'name': 'Amazon Web ...","{'@type': 'PropertyValue', 'name': 'Amazon Web...","Computer Software,Information Technology and S...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist,2021-04-22T09:07:01.000Z,NaN,NaN,"{'@type': 'MonetaryAmount', 'currency': 'USD',...",NaN,<strong><u>Description<br><br></u></strong>The...,what you will do here we are looking for a sea...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
907,2021-03-15T20:27:20.000Z,Are you the kind of person that is not afraid ...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Creative Ci...","{'@type': 'PropertyValue', 'name': 'Creative C...","Marketing and Advertising,Information Technolo...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist,2021-04-22T20:01:14.000Z,NaN,NaN,NaN,NaN,Are you the kind of person that is not afraid ...,ideal candidate is good at prioritizing and ma...
908,2021-03-16T16:15:14.000Z,The AimLabs Consulting Team is looking for a h...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Lockheed Ma...","{'@type': 'PropertyValue', 'name': 'Lockheed M...","Construction,Information Technology and Servic...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,AI/Machine Learning Engineer,2021-04-19T16:48:06.000Z,NaN,NaN,NaN,NaN,The AimLabs Consulting Team is looking for a h...,responsibilities of this position include coll...
909,2021-03-22T12:30:40.000Z,The OpportunityCome work for a data-driven inn...,FULL_TIME,Mid-Senior level,"{'@type': 'Organization', 'name': 'Teladoc Hea...","{'@type': 'PropertyValue', 'name': 'Teladoc He...","Health, Wellness and Fitness,Medical Devices,I...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Senior Data Scientist,2021-04-21T12:30:40.000Z,NaN,NaN,NaN,NaN,<strong><strong>The Opportunity<br></strong></...,ideal candidate will have solid hands on exper...
910,2021-02-03T07:55:15.000Z,Exponent is a leading engineering and scienti...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Exponent', ...","{'@type': 'PropertyValue', 'name': 'Exponent',...","Research,Mechanical or Industrial Engineering,...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist,2021-04-10T19:26:28.000Z,NaN,NaN,"{'@type': 'MonetaryAmount', 'currency': 'USD',...",NaN,<strong>Exponent </strong> is a leading engine...,about your interest in joining our growing tea...
911,2021-03-17T00:00:00.000Z,"If you are a Data Scientist with experience, p...",FULL_TIME,Mid-Senior level,"{'@type': 'Organization', 'name': 'CyberCoders...","{'@type': 'PropertyValue', 'name': 'CyberCoder...",Transportation/Trucking/Railroad,"{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist,2021-04-22T16:18:45.000Z,NaN,NaN,NaN,"{'@type': 'MonetaryAmount', 'currency': 'USD',...","If you are a Data Scientist with experience, p...",what you will be doing solve business problems...