In [5]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('DS data 032321.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 959 entries, 0 to 958
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   datePosted                     959 non-null    object
 1   description                    959 non-null    object
 2   employmentType                 959 non-null    object
 3   experienceRequirements         959 non-null    object
 4   hiringOrganization             959 non-null    object
 5   identifier                     959 non-null    object
 6   industry                       958 non-null    object
 7   jobLocation                    959 non-null    object
 8   skills                         5 non-null      object
 9   title                          959 non-null    object
 10  validThrough                   959 non-null    object
 11  jobLocationType                128 non-null    object
 12  applicantLocationRequirements  128 non-null    object
 13  estimatedSalary                276 non-null    object
 14  baseSalary                     28 non-null     object
 15  desc_html                      959 non-null    object
dtypes: object(16)
memory usage: 120.0+ KB

,datePosted,description,employmentType,experienceRequirements,hiringOrganization,identifier,industry,jobLocation,skills,title,validThrough,jobLocationType,applicantLocationRequirements,estimatedSalary,baseSalary,desc_html
0,2021-03-23T16:03:21.000Z,Genuent is hiring a Data Scientist/Data Engine...,FULL_TIME,Mid-Senior level,"{'@type': 'Organization', 'name': 'Genuent', '...","{'@type': 'PropertyValue', 'name': 'Genuent', ...",Staffing and Recruiting,"{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist - REMOTE,2021-04-22T16:03:20.000Z,NaN,NaN,NaN,NaN,<p>Genuent is hiring a Data Scientist/Data Eng...
1,2021-03-23T17:02:32.000Z,Ayata is developing its Prescriptive Analytics...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Ayata', 'sa...","{'@type': 'PropertyValue', 'name': 'Ayata', 'v...","Information Technology and Services,Computer S...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,ML/AI/NLP Data Scientist,2021-04-22T17:02:32.000Z,NaN,NaN,NaN,NaN,Ayata is developing its Prescriptive Analytics...
2,2021-03-23T14:35:46.000Z,"Our team, part of the Customer Success Enginee...",FULL_TIME,Not Applicable,"{'@type': 'Organization', 'name': 'Microsoft',...","{'@type': 'PropertyValue', 'name': 'Microsoft'...","Computer Hardware,Computer Software,Informatio...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data & Applied Scientist,2021-04-22T14:35:45.000Z,NaN,NaN,NaN,NaN,"Our team, part of the Customer Success Enginee..."
3,2021-03-22T20:24:23.000Z,Headspace is looking for a Data Scientist to h...,FULL_TIME,Entry level,"{'@type': 'Organization', 'name': 'Headspace I...","{'@type': 'PropertyValue', 'name': 'Headspace ...","Marketing and Advertising,Computer Software,In...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist (Remote),2021-04-21T20:24:22.000Z,TELECOMMUTE,"{'@type': 'Country', 'name': 'United States'}",NaN,NaN,<em>Headspace is looking for a Data Scientist ...
4,2021-03-23T09:07:02.000Z,DescriptionThe AWS Applications team builds po...,FULL_TIME,Not Applicable,"{'@type': 'Organization', 'name': 'Amazon Web ...","{'@type': 'PropertyValue', 'name': 'Amazon Web...","Computer Software,Information Technology and S...","{'@type': 'Place', 'address': {'@type': 'Posta...",NaN,Data Scientist,2021-04-22T09:07:01.000Z,NaN,NaN,"{'@type': 'MonetaryAmount', 'currency': 'USD',...",NaN,<strong><u>Description<br><br></u></strong>The...

In [234]:
df.description[0]

'Genuent is hiring a Data Scientist/Data Engineer. This would be a long term contract opportunity located in Houston, TX. If this is something you might be interested in, please send your updated resume to Mike Sabo: MSabo@genuent.com\xa0**Due to client restrictions, we are only accepting those authorized to work in the US without visa sponsorship now or in the future**We are looking for a Data Scientist to build econometric models and apply economic theory to solve business problems to support our enterprise strategic initiatives. Reporting to the Director of Data Science, this person will be the SME in developing complete analytical solutions, mining extensive data sets for insights, building scalable models, and enabling the overall Data Science capability. This person will also\xa0drive the optimization of how we predict market demand pricing, and marketing mix to support both the business lines of service. This person will help build a brand new data science organization.Responsibilities:Build long-term causal estimation models using a combination of econometrics, machine learning and predictive statistics to drive thought leadership around Real Estate, Merchandizing, Pricing, and Marketing, among others.Partner with our Data Engineering team to guide and build the data infrastructure needed to begin applying supervised and unsupervised modeling techniques to generate predictions and uncover patterns.Develop hypothesis statements and apply statistical testing to determine causality and generalize observationsModel Assessment & Validation: Identify the model evaluation metrics and apply best practice techniques for model testing and tuning to assess accuracy, fit, validity, and robustness for multi-stage models and model ensembles.Model Deployment & Scaling: Support efforts to ensure that analytical models and techniques used can be deployed into production. Support evaluation of the analytical model and the scalability and sustainability of analytical models.Code Development & Testing: Write code to develop the required solution and application features by using the recommended programming language and leveraging business, technical, and data requirements. Test the code using the recommended testing approach.Data Visualization: Generate appropriate graphical representations of data and model outcomes. Understand customer requirements to design appropriate data representation for multiple data sets.Support the leadership team in developing long-term goals and roadmaps.Technical Skills & Qualifications:Strong background in econometrics (e.g., program evaluation, forecasting, time series, panel data, and/or high dimensional problems), economic theory, and quantitative methods.Demonstrated understanding of financial levers related to merchandising, planning and allocation, marketing, pricing & promotions.6+ years of applied advanced analytics, statistics and/or data science experience, using R and/or Python, to solve business problems.Experience with price optimization and demand forecasting.Marketing industry knowledge and previous experience in working on marketing mix modelingCan effectively and succinctly decompose highly complex findings to non-technical audiences.Excellent data visualization skills, able to determine the appropriate visualization for a variety of data types and create compelling stories with data.A proven track record of leading successful projects and driving measurable, viable results using Data Science techniques. Education:Masters Degree or PhD. in a Data Science, Applied Mathematics, Computer Science or otherwise research-based field; 5-7 years of related experience and/or training; or equivalent combination of education and experience'

In [184]:
p = re.compile('\d+')
print(p.match('asr56'))
print(p.match(df.description[0]))

None
None

In [239]:
p = re.compile('\s([a-z]+[A-Z]{1}[a-z]+)')
result = p.search('dsfsdf asdTtrt ')
result = p.findall(df.description[0])
result

['observationsModel', 'modelingCan']

In [226]:
p.match(df.description[861])

## Separate the job requirements

In [158]:
kws = ['Responsibilities','Qualifications','responsibilities',
      'What You','qualification','requirement','Requirements',
       "What you","About You","How You’ll Have An Impact",
      'Knowledge And Skills',"QUALIFICATIONS",'What skills do I need',
      'Like You To Have',"Ideal Candidate",'if you have',"The Essentials",
       "How You Can Set Yourself Apart",'You have',"need to have","Who is expert in",
       "Key Skills", "Knowledge/Experience",'Job Requirements',
       'We’re Looking For', "Successful candidate", "Desired Skills"
      ]

In [159]:
de = pd.DataFrame()
for kw in kws:
    des_ind = df.description.str.find(kw)
    de = pd.concat((de,des_ind),axis =1)
de

,description,description,description,description,description,description,description,description,description,description,...,description,description,description,description,description,description,description,description,description,description
0,984,2529,-1,-1,-1,2179,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,551,1829,-1,-1,-1,1091,1553,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2,911,1285,-1,-1,-1,2085,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1,-1,2005,3921,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,1753,4637,1823,-1,-1,5053,-1,1115,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
954,940,-1,-1,-1,-1,1187,530,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
955,1734,-1,1242,-1,-1,1364,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
956,2350,-1,-1,-1,5941,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
957,-1,2323,-1,-1,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
958,-1,-1,-1,256,-1,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [160]:
df[(de == -1).all(axis=1)].description

19     The Operations Analysis & Performance (OAP) te...
123    The Trade Desk is a global technology company ...
128    We believe that the way consumers and business...
155    Do you have experience deploying machine learn...
173    Cushion is looking for a stellar Machine Learn...
                             ...
820    AppZen is the leader in AI software for financ...
826    We are actively recruiting for a Data Science ...
829    DATA SCIENTIST, CUSTOMER ANALYTICS AND DATA SC...
895    Fueled by a fundamental belief that having acc...
910    Designs, develops and programs methods, proces...
Name: description, Length: 76, dtype: object

In [157]:
df.description[861]

'Day to Day:Insight Global is a multi-national staffing agency placing over 50,000 Consultants every year. Our Clients and Consultants span a wide range of industries across North America. Our team receives hundreds of thousands of openings from our customers every year and our recruiting teams speak to over 2Million candidates annually. Based on our 20 years of data on matching candidates to jobs, we are building an Artificial Intelligence and Machine Learning matching engine with the primary purpose of allowing our recruiters and account managers to match resumes to jobs, jobs to resumes. This tool will be built in R and Python drawing on candidate databases and proprietary applications written in Java, NoSQL, Mongo and Elasticsearch.Desired Skills / Experience:5 years of experience in enterprise Artificial Intelligence and Machine Learning developmentExpertise in building applications from scratch in Python and RExperience building data pipelines integrating Input Data, Test Data, and Feedback DataExperience building platforms matching written word data sets (such as Resumes to Job Descriptions)Experience with ElasticsearchStrong team skills and communicationPlusses:-\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0\xa0Experience building AI platforms for job boards or in employment landscapes'

In [77]:
df[~(des_res|des_qua)].description[9]

"Coinbase has built the world's leading compliant cryptocurrency platform serving over 30 million accounts in more than 100 countries. With multiple successful products, and our vocal advocacy for blockchain technology, we have played a major part in mainstream awareness and adoption of cryptocurrency. We are proud to offer an entire suite of products that are helping build the cryptoeconomy and increase economic freedom around the world.There are a few things we look for across all hires we make at Coinbase, regardless of role or team. First, we look for signals that a candidate will thrive in a culture like ours, where we default to trust, embrace feedback, disrupt ourselves, and expect sustained high performance because we play as a championship team. Second, we expect all employees to commit to our mission-focused approach to our work. Finally, we seek people with the desire and capacity to build and share expertise in the frontier technologies of crypto and blockchain, in whatever way is most relevant to their role.At Coinbase, our vision is to build an open financial system for the world, and to get there we’ll need to continually learn from our data. Data scientists are focused on this critical step of converting data into learning.You’ll spend part of your time collaborating closely with business partners in product, engineering, finance and marketing teams — to ensure we’re focused on the biggest opportunities and interpreting our data correctly. And you’ll spend the other part of your time with the Data team building analytics models and systems that help scale our insights more broadly, both throughout the company and directly in the product. We expect you to demonstrate clear communication, strong desire to execute and best-in-class craftsmanship.What You’ll Be Doing (ie. Job Duties) Measure business performance, develop core metrics and create dashboards to track and understand them. Identify data, metrics and analyses needs for business partners; Initiate, develop and maintain data pipelines and data models that powers dashboards and data products with outstanding craftsmanship.  Perform deep analyses and build models to understand customer behavior, and extract key insights that impact product decisions. Synthesize data learnings into compelling stories and communicate them throughout Coinbase. Act as a strategic partner to functional teams and Coinbase executives; initiate and execute on data-driven analyses to help prioritize opportunities and provide actionable recommendations  Prototype new analytics & machine learning models that improve both our insights and the product directly. Work across multiple subject matter experts to drive new data initiatives, automation of reports, establish best practices and mentor junior members in the team. Lead analytics projects to completion. Work with the broader Data team to find ways to scale our insights through better systems and automation. What We Look For In You (ie. Job Requirements) 5+ years relevant experience Demonstrate our core cultural values: clear communication, positive energy, continuous learning, and efficient execution. Understanding of statistical concepts and experience in applying them. Experience in data analyses using SQL. Experience in at least one programming language (e.g. R, Python, Java, Ruby, Scala/Spark, or Perl). Be able to independently create plans for analytics projects and build collaboration within the team. BA / BS degree or equivalent practical experience Nice To Haves Be able to proactively manage prioritization of work and deliver work with great quality and influence the broader team in creating leverage. Previous experience working with financial services data is a plus. Experience with Looker, Tableau or other business intelligence platforms. Domain experience in product, marketing, growth, or other business analytics areas. Experience manipulating large amounts of structured and unstructured data."

In [73]:
des_res = df.description.str.find('responsibilities')!=-1
sum(des_res)

106

In [75]:
sum(df.description.str.find('What You')!=-1)

158

In [76]:
sum(df.description.str.find('qualification')!=-1)

87

In [78]:
sum(df.description.str.find('requirement')!=-1)

264

In [71]:
data.to_csv('prepDS.csv',index=False)