In [1]:
import pandas as pd
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\duong\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [2]:
df = pd.read_csv('Data Scientist.csv')
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            977 non-null    object
 1   place            977 non-null    object
 2   company          977 non-null    object
 3   posting_date     977 non-null    object
 4   link             977 non-null    object
 5   job_description  977 non-null    object
 6   jd_html          977 non-null    object
 7   seniority_level  977 non-null    object
 8   job_function     977 non-null    object
 9   employment_type  977 non-null    object
 10  industries       977 non-null    object
dtypes: object(11)
memory usage: 84.1+ KB

,title,place,company,posting_date,link,job_description,jd_html,seniority_level,job_function,employment_type,industries
0,Machine Learning & Data Engineer,"Plano, TX",JPMorgan Chase & Co.,2021-02-22,https://www.linkedin.com/jobs/view/machine-lea...,Corporate Banking Technology is hiring a multi...,"<div class=""description__text description__tex...",Entry level,"Engineering, Information Technology",Full-time,Banking
1,Machine Learning Engineer — Computer Vision,"Richardson, TX",Honeywell,2020-12-21,https://www.linkedin.com/jobs/view/machine-lea...,Corporate Banking Technology is hiring a multi...,"<div class=""description__text description__tex...",Entry level,"Engineering, Information Technology",Full-time,Banking
2,Software and Machine Learning Engineer,"Cambridge, MA",Massachusetts Institute of Technology,2021-01-08,https://www.linkedin.com/jobs/view/software-an...,"Join a team recognized for leadership, innovat...","<div class=""description__text description__tex...",Entry level,"Engineering, Information Technology",Full-time,"Staffing and Recruiting, Human Resources, Acco..."
3,Machine Learning Engineer,Greater Syracuse-Auburn Area,Oracle,2021-01-21,https://www.linkedin.com/jobs/view/machine-lea...,"\nWorking at MIT offers opportunities, an envi...","<div class=""description__text description__tex...",Entry level,"Engineering, Information Technology",Full-time,"Nonprofit Organization Management, Internet, I..."
4,Machine Learning Engineer,"Hillsboro, OR",Intel Corporation,2020-10-15,https://www.linkedin.com/jobs/view/machine-lea...,"Design, develop, troubleshoot and debug softwa...","<div class=""description__text description__tex...",Entry level,"Engineering, Information Technology",Full-time,"Information Technology and Services, Internet,..."

## 1. Duplication in job description

In [5]:
df.job_description.duplicated().sum()

186

There are 186 dupicated description among 977 entries. For some reasons, the scraper packages retreived incorrect description
My task is now correct the link between job and job description

In [14]:
# For example, description #2 is belong to the job # 1
print(df.job_description[2])

Join a team recognized for leadership, innovation and diversity

Honeywell is a Fortune 100 company with global sales surpassing $40B and has been one of Fortune’s Most Admired Companies for over a decade. Through innovation, the Company brings together the physical and digital world to tackle some of the toughest societal and business problems – making the world a more productive, safe, and sustainable place.

We’re looking for a new senior team member who is motivated by cracking tough challenges with data, trained in problem solving, and with an unending thirst for learning.

Have endless opportunities to progress your career as you develop new offerings that impact a wide range of industries, improve the quality of life, and truly change the world.

As a Machine Learning Engineer with Honeywell, this is your opportunity to develop machine learning models for computer vision applications to address unique and complex problems for the variety of breakthrough solutions.

Responsibilities


Design, develop and deploy experiments to improve efficiency of machine vision algorithms.
Extend and enrich existing ML model pipelines for data ingestion, processing, training, deployment.
Explore and visualize data for better understanding of outcomes of training experiments.


YOU MUST HAVE


Master's degree in Computer Science, Engineering, Applied Mathematics or related field.
At least 3+ years practical experience in machine learning algorithm development within computer vision domain — key areas of interest include any of the following: object detection and instance segmentation, object tracking, activity recognition, multiple view geometry, 3D computer vision.
At least 3+ years of experience programming in Python.


WE VALUE


PhD degree in Computer Science, Engineering, Applied Mathematics or related field.
Experience with database management systems, data platforms (e.g. Streaming Data Platform, Kafka, Logstash, Teradata, Hadoop, etc.), and data formats (e.g. SQL, NoSQL, AWS S3, JSON, Redis, neo4j, etc.) for efficient ML feature extraction and data transformations.
A strong understanding of big data concepts and knowledge of big data languages/tools.
Exceptional data science skills, including a strong understanding of statistics, probability, and algorithms that enable you to quickly come up with solutions that combine multiple information streams.
Experience in automation and build infrastructure in distributed environment.
Previous experience moving prototypes to production environment and optimizing models in production environment.
Ability to stay abreast of current and emerging technologies in support of new concept development.
Result-driven, positive “can-do” attitude.
Ability to work collaboratively with development/implementation staff through the design and build of new business processes and systems.


Additional Information

JOB ID: req256023
Category: Engineering
Location: 830 E Arapaho Rd,Richardson,Texas,75081,United States
Exempt

Engineering (GLOBAL)

Honeywell is an equal opportunity employer. Qualified applicants will be considered without regard to age, race, creed, color, national origin, ancestry, marital status, affectional or sexual orientation, gender identity or expression, disability, nationality, sex, or veteran status.
Show moreShow less

In [8]:
df.job_description[0].find(df.job_description[0])

0

In [81]:
# Lower all strings
df['job_description'] = df.job_description.str.lower()
df.dropna(inplace=True)
df.head(3)

,title,place,company,posting_date,link,job_description,jd_html,seniority_level,job_function,employment_type,industries
0,Data Engineer,"Los Angeles, CA",Snap Inc.,2021-02-19,https://www.linkedin.com/jobs/view/data-engine...,snap inc. is a camera company. we believe that...,"<div class=""description__text description__tex...",Entry level,Information Technology,Full-time,"Marketing and Advertising, Computer Software, ..."
1,Data Engineer,"New York, NY",DigitalOcean,2021-02-18,https://www.linkedin.com/jobs/view/data-engine...,have you ever wondered what happens inside the...,"<div class=""description__text description__tex...",Entry level,Information Technology,Full-time,"Marketing and Advertising, Computer Software, ..."
2,Data Engineer,"Remote, OR",Roofstock,2021-02-18,https://www.linkedin.com/jobs/view/data-engine...,roofstock is the leading marketplace for inves...,"<div class=""description__text description__tex...",Entry level,"Information Technology, Engineering",Full-time,"Information Technology and Services, Computer ..."

In [82]:
print(df.job_description[2])

roofstock is the leading marketplace for investing in single-family rental homes. our mission is to make real estate investing radically accessible, cost effective and simple. we want to use technology to transform the way real estate is bought and sold and make real estate investing as simple as investing in stocks. simply put, we are passionate about helping our customers build wealth through real estate.

roofstock has been recognized as a great workplace great place to work® and have been recently named to the forbes fintech 50 and the red herring 100 lists of most innovative companies. roofstock has raised over $135m to date, is based in oakland, ca and dallas,tx with approximately 180 people and is growing rapidly. check out our reviews and see why our employees love working here!

we've built an amazing culture where everyone has a voice. we're nice. we get things done. we have fun. we believe in work-life balance (yes, you can really take a vacation). and our values are pretty b.a.d.a.s.s.

be customer obsessed.

act like an owner, because you are one.

don't be afraid to break things in the pursuit of better.

all of us are empowered to do the right thing.

stay curious and create what's next. fast.

seriously. no jerks.

analytics at roofstock is a two way street: sure you use data to answer questions posed by others, but you also formulate and test your own hypothesis, and use you data sense to inform and influence the process. a key outcome of your analysis are the datasets you assemble, focusing on foresight, quality and maintainability are paramount to enable future re-use. you will generate insights from data and build reports/dashboards/visualizations to communicate your results and to encourage future self-serve by our partners.

this is an excellent opportunity to join our established, small but quickly growing company, working on a wide range of data projects in close collaboration with other data engineers, data analysts, and data scientists, in an integrated data team. we use a modern all-cloud data stack including airflow, docker, dbt, python, snowflake, tableau, sigma, and our old friend sql.

we care you about your career growth so you’ll have opportunities to develop along at least three paths in addition to maturing as an analyst and data architect: data engineering (more data processing and computational systems), data science (more modeling, ml and algorithms) or product (more business). if you thrive in a team environment, are willing to pitch in wherever needed to help the team succeed, are passionate about data and excited about empowering users with data to drive decision making, this is the place for you.

what you will do

build code to gather, refine, and transform large diverse datasets into simplified, meaningful, and actionable aggregations

analyze data, to provide information that supports decision making across the company

develop reporting workbooks and dashboards in tableau (and others)

write robust sql and sometimes python code, operating on a modern cloud stack (snowflake, aws, azure)

some analyses will require basic statistical tests, and prototypes may occasionally involve building basic statistical and machine learning models (regression, random forests, etc.)

collaborate with cross-functional teams to understand data flows and processes to enable design and creation of the best possible solutions

be responsible for data accuracy and integrity, implement data quality processes, create data dictionaries and data governance policies.

what you bring with you

bs or ms in computer science, analytics, statistics, economics, engineering, operations research or computational field

3+ years of industry experience writing advanced sql, developing complicated analysis and creating advanced dashboards in tableau or other bi/viz tools

familiar with python

bonus skill sets: intermediate/advanced data modeling, r

structured approach to problem-solving, ability to take a broad challenge and break it down into solvable components, accounting for confounding variables and statistical challenges

demonstrated ability to work independently, prototype rapidly, iterate quickly and meet deadlines in a fast-paced environment

strong communication and collaboration skills to effectively explain, influence, and advise with interdisciplinary partners

experience in data warehousing, dimensional data modeling and tools like airflow and dbt is a plus

what we offer

competitive compensation
medical, vision and dental for you (95%) and your dependents (65%)
401k
flexible time off and sick days
supplemental bonus to support "work from home" office needs
equity incentives to give you a stake in the company’s future
as a remote team we are an upbeat and collaborative work culture
virtual company-sponsored outings

roofstock is an equal opportunity employer. in keeping with the values of roofstock, we make all employment decisions including hiring, evaluation, termination, promotional and training opportunities, without regard to race, religion, color, sex, age, national origin, ancestry, sexual orientation, physical handicap, mental disability, medical condition, disability, gender or identity or expression, pregnancy or pregnancy-related condition, marital status, height and/or weight.
show moreshow less

tokenize → remove stopword, special characters → Stemming → Filter → Find common unigrams, bigrams, trigrams

Frequency, PCA or SVD, Fourier TF?, classification entry vs intern, neural network

In [83]:
df.dropna(inplace=True)

In [84]:
from nltk.tokenize import RegexpTokenizer

tokenizer = RegexpTokenizer(r'\w+')
tokenizer.tokenize('Eighty-seven miles to go, yet.  Onward!')

['Eighty', 'seven', 'miles', 'to', 'go', 'yet', 'Onward']

In [85]:
# word tokenize
df['job_description'] = df.job_description.apply(tokenizer.tokenize)
df.job_description

0      [snap, inc, is, a, camera, company, we, believ...
1      [have, you, ever, wondered, what, happens, ins...
2      [roofstock, is, the, leading, marketplace, for...
3      [the, data, engineer, is, responsible, for, pr...
4      [locations, tx, plano, united, states, of, ame...
                             ...
321    [feedback, loop, feedbackloop, com, is, a, gro...
322    [do, you, believe, that, creators, should, hav...
323    [embark, trucks, is, a, leading, self, driving...
324    [why, choose, between, doing, meaningful, work...
325    [about, may, mobility, may, mobility, is, a, s...
Name: job_description, Length: 326, dtype: object

In [65]:
# remove stopwords
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\duong\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [86]:
all_stopwords = stopwords.words('english')
all_stopwords[:2]

['i', 'me']

In [93]:
df['job_description'] = df.job_description.apply(lambda text: [w for w in text if w not in all_stopwords])
df.job_description

0      [snap, inc, camera, company, believe, reinvent...
1      [ever, wondered, happens, inside, cloud, based...
2      [roofstock, leading, marketplace, investing, s...
3      [data, engineer, responsible, processing, stru...
4      [locations, tx, plano, united, states, america...
                             ...
321    [feedback, loop, feedbackloop, com, growth, st...
322    [believe, creators, ability, get, paid, value,...
323    [embark, trucks, leading, self, driving, truck...
324    [choose, meaningful, work, fulfilling, life, m...
325    [may, mobility, may, mobility, self, driving, ...
Name: job_description, Length: 326, dtype: object

In [101]:
porter = nltk.PorterStemmer()
print(df.job_description[0][:20])
print([porter.stem(t) for t in df.job_description[0][:20]])
wnl = nltk.WordNetLemmatizer()
print([wnl.lemmatize(t) for t in df.job_description[0][:20]])

['snap', 'inc', 'camera', 'company', 'believe', 'reinventing', 'camera', 'represents', 'greatest', 'opportunity', 'improve', 'way', 'people', 'live', 'communicate', 'products', 'empower', 'people', 'express', 'live']
['snap', 'inc', 'camera', 'compani', 'believ', 'reinvent', 'camera', 'repres', 'greatest', 'opportun', 'improv', 'way', 'peopl', 'live', 'commun', 'product', 'empow', 'peopl', 'express', 'live']
['snap', 'inc', 'camera', 'company', 'believe', 'reinventing', 'camera', 'represents', 'greatest', 'opportunity', 'improve', 'way', 'people', 'live', 'communicate', 'product', 'empower', 'people', 'express', 'live']

In [102]:
df['job_description'] = df.job_description.apply(lambda text: [wnl.lemmatize(t) for t in text])
df.job_description

0      [snap, inc, camera, company, believe, reinvent...
1      [ever, wondered, happens, inside, cloud, based...
2      [roofstock, leading, marketplace, investing, s...
3      [data, engineer, responsible, processing, stru...
4      [location, tx, plano, united, state, america, ...
                             ...
321    [feedback, loop, feedbackloop, com, growth, st...
322    [believe, creator, ability, get, paid, value, ...
323    [embark, truck, leading, self, driving, truck,...
324    [choose, meaningful, work, fulfilling, life, m...
325    [may, mobility, may, mobility, self, driving, ...
Name: job_description, Length: 326, dtype: object

In [40]:
from nltk.util import ngrams
from collections import Counter

In [107]:
print(len(df.job_description[0]))
len(df.job_description.sum())

318

126043

In [113]:
#Create your bigrams
#ugs = nltk.unigrams(df.job_description.sum())

#compute frequency distribution for all the bigrams in the text
fdist = nltk.FreqDist(df.job_description.sum())
fdist

FreqDist({'data': 4808, 'experience': 1965, 'team': 1264, 'work': 1046, 'business': 944, 'year': 596, 'company': 585, 'technology': 576, 'skill': 568, 'tool': 567, ...})

In [121]:
sorted(fdist.items(), key=lambda item: item[1],reverse=True)[:100]

[('data', 4808),
 ('experience', 1965),
 ('team', 1264),
 ('work', 1046),
 ('business', 944),
 ('year', 596),
 ('company', 585),
 ('technology', 576),
 ('skill', 568),
 ('tool', 567),
 ('product', 546),
 ('solution', 545),
 ('development', 530),
 ('working', 525),
 ('science', 523),
 ('engineering', 521),
 ('engineer', 514),
 ('analytics', 510),
 ('python', 487),
 ('opportunity', 470),
 ('process', 451),
 ('sql', 450),
 ('learning', 446),
 ('new', 441),
 ('system', 436),
 ('design', 427),
 ('support', 413),
 ('build', 411),
 ('ability', 411),
 ('using', 408),
 ('model', 390),
 ('technical', 388),
 ('pipeline', 377),
 ('customer', 371),
 ('including', 369),
 ('environment', 361),
 ('building', 361),
 ('software', 360),
 ('analysis', 360),
 ('platform', 359),
 ('u', 356),
 ('service', 350),
 ('employee', 350),
 ('strong', 346),
 ('machine', 343),
 ('status', 340),
 ('le', 340),
 ('show', 336),
 ('time', 335),
 ('role', 330),
 ('help', 328),
 ('knowledge', 326),
 ('moreshow', 326),
 ('project', 321),
 ('application', 320),
 ('database', 320),
 ('develop', 318),
 ('problem', 316),
 ('information', 314),
 ('job', 301),
 ('requirement', 300),
 ('across', 295),
 ('need', 287),
 ('management', 271),
 ('people', 270),
 ('etc', 269),
 ('client', 269),
 ('value', 262),
 ('make', 259),
 ('degree', 258),
 ('scientist', 249),
 ('best', 248),
 ('benefit', 244),
 ('world', 243),
 ('cloud', 241),
 ('computer', 240),
 ('language', 238),
 ('based', 238),
 ('etl', 234),
 ('related', 233),
 ('disability', 233),
 ('required', 233),
 ('source', 232),
 ('industry', 231),
 ('provide', 223),
 ('one', 222),
 ('responsibility', 222),
 ('employment', 220),
 ('use', 220),
 ('decision', 219),
 ('employer', 215),
 ('large', 214),
 ('equal', 214),
 ('looking', 212),
 ('architecture', 212),
 ('gender', 212),
 ('aws', 210),
 ('quality', 209),
 ('high', 209),
 ('candidate', 206)]

In [122]:
#Create your bigrams
bgs = nltk.bigrams(df.job_description.sum())

#compute frequency distribution for all the bigrams in the text
fdist = nltk.FreqDist(bgs)
sorted(fdist.items(), key=lambda item: item[1],reverse=True)[:100]

[(('machine', 'learning'), 328),
 (('show', 'moreshow'), 326),
 (('moreshow', 'le'), 326),
 (('data', 'engineer'), 302),
 (('data', 'science'), 286),
 (('year', 'experience'), 242),
 (('data', 'scientist'), 229),
 (('data', 'pipeline'), 222),
 (('computer', 'science'), 186),
 (('data', 'engineering'), 165),
 (('equal', 'opportunity'), 163),
 (('experience', 'working'), 155),
 (('big', 'data'), 153),
 (('sexual', 'orientation'), 149),
 (('2', 'year'), 145),
 (('national', 'origin'), 145),
 (('data', 'set'), 136),
 (('opportunity', 'employer'), 130),
 (('experience', 'data'), 120),
 (('gender', 'identity'), 115),
 (('veteran', 'status'), 115),
 (('communication', 'skill'), 109),
 (('data', 'analytics'), 109),
 (('data', 'warehouse'), 109),
 (('3', 'year'), 107),
 (('bachelor', 'degree'), 106),
 (('e', 'g'), 101),
 (('team', 'member'), 99),
 (('data', 'source'), 96),
 (('engineering', 'team'), 93),
 (('race', 'color'), 89),
 (('data', 'model'), 87),
 (('best', 'practice'), 86),
 (('data', 'visualization'), 86),
 (('problem', 'solving'), 85),
 (('experience', 'building'), 84),
 (('business', 'intelligence'), 81),
 (('real', 'time'), 80),
 (('data', 'platform'), 80),
 (('marital', 'status'), 78),
 (('data', 'analysis'), 78),
 (('data', 'driven'), 77),
 (('degree', 'computer'), 77),
 (('without', 'regard'), 77),
 (('color', 'religion'), 76),
 (('programming', 'language'), 75),
 (('5', 'year'), 72),
 (('data', 'warehousing'), 72),
 (('data', 'modeling'), 71),
 (('data', 'processing'), 69),
 (('ability', 'work'), 65),
 (('data', 'architecture'), 64),
 (('qualified', 'applicant'), 64),
 (('orientation', 'gender'), 64),
 (('related', 'field'), 63),
 (('fast', 'paced'), 62),
 (('cross', 'functional'), 61),
 (('regard', 'race'), 61),
 (('1', 'year'), 61),
 (('data', 'infrastructure'), 60),
 (('large', 'scale'), 58),
 (('data', 'quality'), 57),
 (('experience', 'using'), 57),
 (('data', 'lake'), 57),
 (('data', 'solution'), 57),
 (('skill', 'ability'), 56),
 (('decision', 'making'), 56),
 (('internal', 'external'), 55),
 (('end', 'end'), 55),
 (('dental', 'vision'), 54),
 (('sql', 'server'), 54),
 (('design', 'implement'), 54),
 (('hand', 'experience'), 53),
 (('functional', 'team'), 53),
 (('relational', 'database'), 52),
 (('job', 'description'), 51),
 (('software', 'engineering'), 50),
 (('software', 'development'), 50),
 (('united', 'state'), 49),
 (('data', 'technology'), 49),
 (('master', 'degree'), 49),
 (('etc', 'experience'), 49),
 (('work', 'closely'), 48),
 (('experience', 'developing'), 48),
 (('new', 'york'), 48),
 (('real', 'estate'), 48),
 (('ideal', 'candidate'), 48),
 (('new', 'data'), 47),
 (('large', 'data'), 47),
 (('data', 'product'), 46),
 (('business', 'requirement'), 46),
 (('looking', 'data'), 45),
 (('employment', 'opportunity'), 45),
 (('new', 'technology'), 45),
 (('data', 'mining'), 45),
 (('python', 'r'), 45),
 (('genetic', 'information'), 44),
 (('skill', 'experience'), 44),
 (('work', 'experience'), 44),
 (('protected', 'veteran'), 44)]

In [123]:
tgs=ngrams(df.job_description.sum(),3)
fdist = nltk.FreqDist(tgs)
sorted(fdist.items(), key=lambda item: item[1],reverse=True)[:100]

[(('show', 'moreshow', 'le'), 326),
 (('equal', 'opportunity', 'employer'), 125),
 (('2', 'year', 'experience'), 78),
 (('degree', 'computer', 'science'), 77),
 (('race', 'color', 'religion'), 66),
 (('sexual', 'orientation', 'gender'), 64),
 (('without', 'regard', 'race'), 61),
 (('orientation', 'gender', 'identity'), 58),
 (('3', 'year', 'experience'), 49),
 (('bachelor', 'degree', 'computer'), 46),
 (('regard', 'race', 'color'), 45),
 (('cross', 'functional', 'team'), 44),
 (('employment', 'without', 'regard'), 41),
 (('large', 'data', 'set'), 41),
 (('gender', 'identity', 'expression'), 39),
 (('equal', 'employment', 'opportunity'), 39),
 (('5', 'year', 'experience'), 38),
 (('problem', 'solving', 'skill'), 38),
 (('medical', 'dental', 'vision'), 38),
 (('machine', 'learning', 'model'), 33),
 (('1', 'year', 'experience'), 33),
 (('color', 'religion', 'sex'), 33),
 (('year', 'experience', 'data'), 33),
 (('data', 'engineering', 'team'), 32),
 (('protected', 'veteran', 'status'), 32),
 (('gender', 'sexual', 'orientation'), 31),
 (('receive', 'consideration', 'employment'), 31),
 (('consideration', 'employment', 'without'), 31),
 (('computer', 'science', 'related'), 30),
 (('computer', 'science', 'engineering'), 30),
 (('qualified', 'applicant', 'receive'), 29),
 (('applicant', 'receive', 'consideration'), 29),
 (('data', 'science', 'team'), 29),
 (('national', 'origin', 'age'), 29),
 (('state', 'local', 'law'), 28),
 (('federal', 'state', 'local'), 27),
 (('veteran', 'status', 'disability'), 27),
 (('year', 'experience', 'working'), 27),
 (('moreshow', 'le', 'job'), 27),
 (('color', 'national', 'origin'), 26),
 (('data', 'engineer', 'join'), 26),
 (('race', 'religion', 'color'), 26),
 (('data', 'pipeline', 'architecture'), 26),
 (('color', 'religion', 'gender'), 26),
 (('age', 'marital', 'status'), 25),
 (('fast', 'paced', 'environment'), 25),
 (('structured', 'unstructured', 'data'), 25),
 (('big', 'data', 'technology'), 25),
 (('characteristic', 'protected', 'law'), 25),
 (('status', 'veteran', 'status'), 24),
 (('large', 'scale', 'data'), 24),
 (('verbal', 'communication', 'skill'), 24),
 (('national', 'origin', 'gender'), 23),
 (('sexual', 'orientation', 'age'), 23),
 (('science', 'machine', 'learning'), 23),
 (('sex', 'national', 'origin'), 23),
 (('looking', 'data', 'engineer'), 23),
 (('data', 'scientist', 'data'), 23),
 (('sex', 'sexual', 'orientation'), 23),
 (('data', 'driven', 'decision'), 23),
 (('written', 'verbal', 'communication'), 23),
 (('experience', 'data', 'engineer'), 23),
 (('religion', 'color', 'national'), 22),
 (('science', 'related', 'field'), 22),
 (('qualification', 'bachelor', 'degree'), 22),
 (('employer', 'qualified', 'applicant'), 22),
 (('data', 'visualization', 'tool'), 22),
 (('affirmative', 'action', 'employer'), 22),
 (('gender', 'gender', 'identity'), 21),
 (('law', 'show', 'moreshow'), 21),
 (('proud', 'equal', 'opportunity'), 20),
 (('status', 'disability', 'status'), 20),
 (('data', 'science', 'machine'), 20),
 (('le', 'job', 'description'), 20),
 (('communication', 'skill', 'ability'), 20),
 (('natural', 'language', 'processing'), 20),
 (('identify', 'design', 'implement'), 20),
 (('variety', 'data', 'source'), 19),
 (('marital', 'status', 'veteran'), 19),
 (('analyst', 'data', 'scientist'), 19),
 (('experience', 'big', 'data'), 19),
 (('discriminate', 'basis', 'race'), 18),
 (('internal', 'external', 'data'), 18),
 (('moreshow', 'le', 'description'), 18),
 (('machine', 'learning', 'technique'), 18),
 (('national', 'origin', 'disability'), 18),
 (('data', 'engineer', 'work'), 18),
 (('physical', 'mental', 'disability'), 18),
 (('sexual', 'orientation', 'national'), 18),
 (('orientation', 'national', 'origin'), 18),
 (('machine', 'learning', 'algorithm'), 18),
 (('status', 'sexual', 'orientation'), 18),
 (('written', 'communication', 'skill'), 18),
 (('design', 'implement', 'internal'), 18),
 (('implement', 'internal', 'process'), 18),
 (('year', 'industry', 'experience'), 17),
 (('experience', 'machine', 'learning'), 17),
 (('data', 'science', 'analytics'), 17),
 (('tool', 'e', 'g'), 17),
 (('best', 'place', 'work'), 17)]